<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4E4c6Xw85HOwmC5ro6PMm013TY15g7zA</string>
	<key>GCM_SENDER_ID</key>
	<string>237849982331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ipetrie.MessengerCloneSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>messengercloneswiftui-88dd9</string>
	<key>STORAGE_BUCKET</key>
	<string>messengercloneswiftui-88dd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237849982331:ios:200a58ea38564bbbbfb9de</string>
</dict>
</plist>